@{
    ViewData["Title"] = "Entre em Contato";
}
<h1>@ViewData["Title"]</h1>

<p>@ViewData["Message"]</p>

<div class="mt-4">
    <p>Telefone: (11) 98765-4321</p>
    <p>Email: contato@usadinhos.com</p>
    <p>Nosso horário de atendimento: </p>
    <p>De segunda a sábado, das 9h às 18h</p>
</div>
