@{
    ViewData["Title"] = "Usadinhos - Seu Estoque Online";
}
<div class="text-center">
    <h1 class="display-4">🚗 Bem-vindo à Usadinhos!</h1>
    <p>Aqui está uma visão do nosso estoque de veículos.</p>
</div>

<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Estoque de Veículos - Usadinhos</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<div class="container mt-5">
		<h2 class="mb-4">Nosso Estoque de Veículos</h2><br />
		<form id="formConsulta" class="mb-3">
			<div class="mb-3">
				<label for="modeloVeiculo" class="form_label">Modelo do Veículo:</label>
				<input type="text" class="form-control" id="modeloVeiculo" placeholder="Digite o modelo do veiculo" />
			</div>
			<button type="button" class="btn btn-primary" onclick="buscar()">Buscar</button> <!--botão que aciona a função buscar()-->
		</form>

		<table class="table table-striped" id="tabelaResultado">
			<thead>
				<tr>                     <!-- o que será mostrado em forma de lista-->
					<th>Marca</th>
					<th>Modelo</th>
					<th>Ano</th>
					<th>Cor</th>
					<th>Preço</th>
				</tr>
			</thead>
			<tbody id="corpo_tabela">
			</tbody>
		</table>
	</div>

	<script>

		async function buscar(){      //função tabela acionada por button acima
			var modelo  = document.getElementById("modeloVeiculo").value;  // pega o valor digitado no input
			var url     = "/Home/BuscarVeiculo?modelo=" + modelo;          // monta a url para fazer a requisição
			var resp    = await fetch(url);                                // faz a requisição para o servidor
			var meujson = await resp.json();                               // pega a resposta e converte para json

			var linhas_tabela = "";                                   // inicializa a variável que vai conter as linhas da tabela
			for (i=0;i<meujson.length; i++){                         // percorre o json retornado e informa os dados abaixo requisitado em cada linha
				linhas_tabela += `                                  
					 <tr>                                            
						<td>${meujson[i]["marca"]}</td>
						<td>${meujson[i]["modelo"]}</td>
						<td>${meujson[i]["ano"]}</td>
						<td>${meujson[i]["cor"]}</td>
						<td>${meujson[i]["preco"]}</td>
					</tr>`;
			}

			document.getElementById("corpo_tabela").innerHTML = linhas_tabela;  //exibe o conteudo selecionado de cada linha
		}

	</script>

</body>
</html>

